.idea/
foodbox-front/.idea/
foodbox-front/.angular
foodbox-front/.vscode
foodbox-front/node_modules/
foodbox-front/dist/
foodbox-front/tmp/
foodbox-front/out-tsc/
foodbox-front/bazel-out/
foodbox-front/.project
foodbox-front/.classpath
foodbox-front/.c9/
foodbox-front/.settings/
foodbox-front/npm-debug.log
foodbox-front/yarn-error.log
foodbox-front/.sass-cache/
foodbox-front/connect.lock
foodbox-front/coverage
foodbox-front/libpeerconnection.log
foodbox-front/testem.log
foodbox-front/typings

foodbox-api/build/
foodbox-api/target/
foodbox-api/.idea/
foodbox-api/local.properties


*.iml
.DS_Store
Thumbs.db
