<div class="detail-section">
  <div class="container-fluid ">

    <img src="{{dish.imagePath}}" class="detail-img mt-4" alt="{{dish.name}}"/>
    <h3>{{dish.name}}</h3>
    <div class="price">{{dish.price | currency: 'CAD'}}</div>
    <button class="btn btn-primary btn-sm text-decoration-none mt-2" (click)="addToCart()">Add to cart</button>
    <hr>
    <h4>Description</h4>
    <p>{{dish.description}}</p>

    <a routerLink="/category/{{dish.categoryId}}" class="mt-5 text-decoration-none">Back to dishes list</a>
  </div>
</div>
